* {
	box-sizing: border-box;

}

html {
	height: 100%;
}
body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	background: url("/images/bulletinBoard.jpg") center center fixed;
	background-repeat: no-repeat;
	background-size: cover;

}

.template {
text-align: center;
min-height: 100%;
width: 100%;
margin: auto;
}

.template-header{
	width:100%;
	height:75px;
	background: rgba(0, 33, 86, .2);
}

.template-footer {
width: 100%;
height: 75px;
padding: 1rem;
background-color: rgba(0,33,86,.2);
text-align: center;
clear:both;
}

.template-footer-linkedin{
	float: left;
	width: 30px;
	height: 30px;
	display: block;


}

.template-footer-h2 {
	float: right;
	display: block;
	padding: 10px;
	font-family: 'Playfair Display', serif;
	font-size: 22px;
	line-height: 25.5px;
	letter-spacing: .32px;
	color: #FFFFFF;
	text-align: center;
	margin-top: 8px;
	margin-bottom: 5px;
	}

h1 {
	position: absolute;
	height: 75px;
	width: 240px;
	font-style: oblique;
	font-size: 20px;
	text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
	line-height: 75px;
	text-align: center;
	font-family: 'Playfair Display', serif;
	color: #FFF;
}

.bulletin-nav {
	position: absolute;
	height: 75px;
	width: 1110px;
	left: 50%;
	margin-left: -555px;
}


.bulletin-nav-links {
		list-style-type: none;
		padding: 0;
		margin: 0;
		overflow: hidden;
	}

.bulletin-nav-links- {
display: inline-block;
float: right;
padding: 8px;
height: 75px;
width: 180px;
font-style: oblique;
font-size: 15px;
line-height: 75px;
text-align: center;
font-family: 'Playfair Display', serif;
color: #FFF;
}

.template-main {
	width: 100%;

}
.main-section {
	width: 100%;
	height:65%;

}




	/*404 Page*/

	.Error-Page {
	background-image: url("/images/mindtrick.gif");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
	min-height: 100%;
	}

	.Error-Page-Header {
		position: absolute;
		margin: 20px;
		font-family: 'STARWARS';
		width: 100%;
		font-size: 100px;
		text-align: center;
		color: #cc0a0a;
		clear: both;
	}
