<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Bulletinboard Form</title>
</head>

<body>

	<% if (message) { %>
			<p><%- message %></p>

		<% } %>

	<h1>Weather</h1>

<form action = "/" method ="POST" >
	<input type = "text" name = "title" placeholder = "Forecasted Day"/><br>
	<input type = "text" name = "body"  placeholder = "Weather Description"/><br>
	<button> Add </button>
</form>

</body>



</html>
