<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>

<form method ="POST" action ="/list">
	<input type = "text" name = "title" placeholder = "Title of Post"><br>
	<input type = "text" name = "body" placeholder = "Type the body of your Post"><br>
	<input type = "submit" value = "Submit"/>
</form>

</body>



</html>
